* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Hind Guntur", sans-serif;
}

img,
input {
    width: 100%;
    vertical-align: top;
}

#wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #d0e4d1;
    height: 100vh;
}

#carousel {
    border: 1px lightseagreen dotted;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.moveImg {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    transition: all .5s;
}

.divNext,
.divPrev {
    z-index: 100;
}

.divPrev {
    position: absolute;
    left: 10px;
}

.divNext :hover,
.divPrev :hover {
    cursor: pointer;
    color: rgb(55, 133, 33);
}

i {
    font-size: 60px;
    color: rgba(55, 133, 33, 0.596);
}

.slide-right{
    transform: translateX(200%);
}